@font-face {
  font-family: "FontAwesome";
  font-weight: normal;
  font-style: normal;
  src: url("http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?v=4.3.0");
  src: url("http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?#iefix&v=4.3.0") format("embedded-opentype"), url("http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff2?v=4.3.0") format("woff2"), url("http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff?v=4.3.0") format("woff"), url("http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.ttf?v=4.3.0") format("truetype"), url("http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular") format("svg"); }
* {
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
  margin: 0px;
  padding: 0px;
  cursor: pointer;
  list-style: none; }

#preloader {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 999999;
  background-color: white;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

#responsive_menu {
  overflow: scroll;
  display: none;
  z-index: 99999;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 800px;
  background-color: rgba(0, 0, 0, 0.999); }
  #responsive_menu .menu {
    position: relative;
    width: 95%;
    height: auto;
    background-color: #303030;
    padding: 80px 30px; }
    #responsive_menu .menu .menu_exit {
      position: absolute;
      width: 80px;
      height: 80px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #303030;
      color: white;
      font-size: 2.5em;
      top: 0px;
      right: -20px; }
    #responsive_menu .menu ul li {
      position: relative;
      padding-bottom: 20px;
      padding-top: 10px; }
      #responsive_menu .menu ul li .res_dropdown {
        display: none;
        background-color: #303030; }
        #responsive_menu .menu ul li .res_dropdown h5 {
          padding-top: 10px;
          font-size: 1.2em;
          font-weight: 800;
          color: white; }
        #responsive_menu .menu ul li .res_dropdown li {
          color: white;
          padding-bottom: 5px; }
      #responsive_menu .menu ul li a {
        text-decoration: none;
        color: white;
        font-size: 1.2em; }
        #responsive_menu .menu ul li a::after {
          content: "\f105";
          float: right;
          font-family: "FontAwesome"; }

#top {
  position: fixed;
  width: 60px;
  height: 60px;
  background-color: white;
  border-radius: 100%;
  right: 30px;
  bottom: 50px;
  display: none;
  z-index: 90;
  box-shadow: 0px 2px 10px gray;
  opacity: 1;
  text-align: center;
  line-height: 60px;
  color: black;
  transition: all 0.2s linear; }
  #top:hover {
    background-color: #e44a7a; }
  #top:hover i {
    color: white; }

@media (max-width: 1024px) {
  #color_picker {
    display: none; }

  #top {
    display: none; } }
#color_picker {
  position: fixed;
  top: 200px;
  width: 240px;
  height: 60px;
  background-color: #222;
  z-index: 98;
  transition: all 0.8s linear; }
  #color_picker i {
    color: white;
    padding: 20px;
    font-size: 1.3em; }
    #color_picker i:hover {
      color: gray; }
  #color_picker span {
    color: white;
    padding-left: 40px;
    font-size: 0.9em;
    color: #a5a5a5; }
  #color_picker .colors {
    position: absolute;
    bottom: -100px;
    right: 0px;
    width: 180px;
    height: 100px;
    background-color: #404040; }
    #color_picker .colors p {
      color: white; }
    #color_picker .colors .color1 {
      height: 30px;
      background-color: #e44a7a; }
      #color_picker .colors .color1:hover {
        background-color: #e1346a; }
    #color_picker .colors .color2 {
      height: 30px;
      background-color: #ed820f; }
      #color_picker .colors .color2:hover {
        background-color: #d5750d; }
    #color_picker .colors .color3 {
      height: 30px;
      background-color: #2218dc; }
      #color_picker .colors .color3:hover {
        background-color: #1e15c5; }

#head {
  padding: 20px;
  height: 62px;
  background-image: url(http://webdesign-finder.com/html/qtyler/img/parallax/abstraction.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center; }
  #head .inner span {
    display: inline-block;
    color: white;
    padding-right: 30px;
    padding-top: 10px;
    font-size: 1.2em; }
  #head .col-md-3 .inner::after {
    content: "";
    display: block;
    clear: both; }
  #head .col-md-3 .inner #exit {
    float: left;
    font-size: 1.4em;
    color: white;
    padding-top: 10px;
    padding-right: 10px; }
  #head .col-md-3 .inner #search_input {
    margin-top: 5px;
    background-color: transparent;
    padding: 5px;
    border: none;
    outline: none;
    width: 200px;
    height: 30px;
    float: left;
    color: white; }
    #head .col-md-3 .inner #search_input::-webkit-input-placeholder {
      color: white; }
  #head .col-md-3 .inner a {
    position: absolute;
    right: 60px;
    color: white; }
    #head .col-md-3 .inner a i {
      padding-top: 10px;
      font-size: 1.2em;
      width: 40px;
      height: 40px;
      border-radius: 100%;
      transition: all 0.1s linear; }
      #head .col-md-3 .inner a i:hover {
        background-color: white;
        color: #e44a7a; }

@media (max-width: 1024px) {
  #head {
    height: 200px; }
    #head .col-md-3 .inner {
      text-align: center; }
      #head .col-md-3 .inner a {
        position: static;
        display: block;
        width: 100%; } }
header {
  position: sticky;
  top: -5px;
  left: 0px;
  background-color: white;
  z-index: 99;
  box-shadow: 0px 2px 10px gray; }
  header .logo {
    width: 130px; }
  header .navbar {
    padding: 0px; }
    header .navbar #navbar_keeper {
      display: none; }
    header .navbar .ul_nav {
      display: flex; }
      header .navbar .ul_nav li {
        position: relative; }
        header .navbar .ul_nav li:hover .dropdown {
          display: block; }
        header .navbar .ul_nav li:hover .megadropdown {
          display: block; }
        header .navbar .ul_nav li .nav-link {
          color: black;
          font-weight: bold;
          font-size: 1.2em;
          height: 160%; }
          header .navbar .ul_nav li .nav-link:hover {
            color: #e44a7a; }
        header .navbar .ul_nav li .active {
          color: #e44a7a; }
        header .navbar .ul_nav li .megadropdown {
          display: none;
          width: 1200px;
          height: 500px;
          position: absolute;
          top: 70px;
          left: -450px;
          box-shadow: 2px 2px 2px gray;
          background-color: white;
          padding: 20px 30px; }
          header .navbar .ul_nav li .megadropdown .list_keeper {
            float: left;
            width: 17%;
            height: 93%;
            margin-right: 34px; }
            header .navbar .ul_nav li .megadropdown .list_keeper ul h5 {
              font-weight: 900;
              margin-bottom: 17px;
              font-size: 1.3em;
              text-transform: uppercase;
              transition: all 0.2s linear; }
              header .navbar .ul_nav li .megadropdown .list_keeper ul h5:hover {
                color: #e44a7a; }
            header .navbar .ul_nav li .megadropdown .list_keeper ul li {
              margin-bottom: 17px;
              font-weight: 800;
              font-size: 1.1em;
              text-transform: uppercase;
              transition: all 0.2s linear; }
              header .navbar .ul_nav li .megadropdown .list_keeper ul li:hover {
                color: #e44a7a; }
            header .navbar .ul_nav li .megadropdown .list_keeper:not(:last-child) {
              border-right: 1px solid #b3b3b3; }
        header .navbar .ul_nav li .dropdown {
          flex-direction: column;
          height: auto;
          width: 250px;
          position: absolute;
          top: 70px;
          left: -30px;
          font-weight: 800;
          background-color: white;
          padding: 20px;
          line-height: 40px;
          box-shadow: 2px 2px 2px gray;
          display: none; }
          header .navbar .ul_nav li .dropdown li {
            transition: all 0.2s linear; }
            header .navbar .ul_nav li .dropdown li:hover {
              color: #e44a7a; }
          header .navbar .ul_nav li .dropdown:hover {
            display: block; }
  header .icons {
    margin: auto; }
    header .icons a {
      position: relative;
      text-decoration: none; }
      header .icons a .main {
        position: relative;
        color: #4b4b4b;
        margin-left: 10px;
        font-size: 1em;
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        border-radius: 100%;
        transition: all 0.1s linear; }
        header .icons a .main .list_dropdown {
          position: absolute;
          bottom: -330px;
          right: 0px;
          width: 200px;
          height: 300px;
          background-color: white;
          box-shadow: 0px 2px 10px gray;
          padding: 20px 40px;
          display: none; }
          header .icons a .main .list_dropdown ul {
            text-align: left; }
            header .icons a .main .list_dropdown ul h6 {
              font-weight: 800; }
          header .icons a .main .list_dropdown .f_list {
            border-bottom: 1px solid #cbcbcb; }
            header .icons a .main .list_dropdown .f_list .active_list_item {
              color: #e44a7a; }
        header .icons a .main .shop_dropdown {
          position: absolute;
          top: 170%;
          right: 0px;
          width: 450px;
          height: auto;
          background-color: white;
          box-shadow: 0px 2px 10px gray;
          display: none; }
          header .icons a .main .shop_dropdown .first_col {
            margin: auto;
            width: 95%;
            border-bottom: 1px solid #bcbcbc; }
          header .icons a .main .shop_dropdown .price_inner {
            padding-top: 10px;
            position: relative;
            height: 160px; }
            header .icons a .main .shop_dropdown .price_inner .text {
              position: absolute;
              top: 40px;
              left: 140px;
              text-align: left; }
            header .icons a .main .shop_dropdown .price_inner img {
              position: absolute;
              left: 0px;
              top: 20px; }
            header .icons a .main .shop_dropdown .price_inner i {
              position: absolute;
              top: 10px;
              right: 0px; }
          header .icons a .main .shop_dropdown .pricing {
            height: 160px;
            padding-top: 10px; }
            header .icons a .main .shop_dropdown .pricing .price_text {
              width: 100%;
              height: 30%; }
              header .icons a .main .shop_dropdown .pricing .price_text span {
                padding-left: 20px;
                margin-right: 55px; }
            header .icons a .main .shop_dropdown .pricing .buttons {
              width: 100%;
              height: 30%; }
              header .icons a .main .shop_dropdown .pricing .buttons button {
                width: 160px;
                height: 60px;
                background-color: transparent;
                border: 2px solid black;
                border-radius: 40px;
                outline: none; }
                header .icons a .main .shop_dropdown .pricing .buttons button:hover {
                  border-color: #e44a7a; }
        header .icons a .main .share_dropdown {
          position: absolute;
          top: -15px;
          z-index: -1;
          right: -6px;
          width: 50px;
          height: 255px;
          border-radius: 40px;
          background-color: white;
          box-shadow: 0px 2px 10px gray;
          display: none; }
          header .icons a .main .share_dropdown ul {
            padding-top: 55px;
            padding-right: 2px; }
            header .icons a .main .share_dropdown ul li:first-child:hover {
              color: #1111ba; }
            header .icons a .main .share_dropdown ul li:nth-child(2):hover {
              color: #ff3e3e; }
            header .icons a .main .share_dropdown ul li:nth-child(3):hover {
              color: #386ebd; }
            header .icons a .main .share_dropdown ul li:nth-child(4):hover {
              color: #3f84eb; }
            header .icons a .main .share_dropdown ul li:last-child:hover {
              color: #f20e56; }
        header .icons a .main .message_count {
          position: absolute;
          bottom: 8px;
          right: 8px;
          width: 10px;
          height: 10px;
          border-radius: 100%;
          font-size: 0.3em;
          color: white;
          line-height: 10px;
          background-color: #e44a7a; }
        header .icons a .main:hover {
          background-color: #e44a7a;
          color: white; }
        header .icons a .main:hover span {
          background-color: white;
          color: black; }

@media (max-width: 1024px) {
  header .navbar #navbar_keeper {
    display: block;
    width: 40px;
    height: 40px;
    position: relative;
    left: 30px;
    background-image: url(https://d30y9cdsu7xlg0.cloudfront.net/png/566652-200.png);
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    background-color: transparent;
    outline: none; }
  header .navbar .ul_nav {
    display: none; }
  header .navbar .navbar-nav .nav-link.active {
    color: #e44a7a; }
  header .navbar .navbar-light .navbar-toggler {
    border: none !important; }

  .icons a .main .list_dropdown {
    left: 100%;
    width: 0px; }
  .icons a .main .shop_dropdown {
    top: 170%;
    left: -200px;
    width: 450px; } }
#breadcrumbs {
  width: 95%;
  margin: auto;
  background-image: url(http://webdesign-finder.com/html/qtyler/img/parallax/breadcrumbs.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }
  #breadcrumbs .inner {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center; }
    #breadcrumbs .inner ul {
      display: flex; }
      #breadcrumbs .inner ul li:not(:last-child)::after {
        content: "/";
        padding-right: 40px;
        padding-left: 40px;
        color: black; }
      #breadcrumbs .inner ul li:hover {
        color: #e44a7a; }
      #breadcrumbs .inner ul .active {
        font-weight: 800; }

@media (max-width: 1024px) {
  #breadcrumbs .inner {
    height: 150px; }
    #breadcrumbs .inner ul li:not(:last-child)::after {
      padding-right: 20px;
      padding-left: 20px; } }
#post .container .row .col-md-8 h2 {
  font-weight: 900;
  font-size: 2.3em;
  transition: all 0.2s linear; }
  #post .container .row .col-md-8 h2:hover {
    color: #e44a7a; }
#post .container .row .col-md-8 .first_p {
  font-weight: 300;
  font-size: 1em;
  color: #e44a7a; }
#post .container .row .col-md-8 .row .col-md-12 .iframe_post {
  position: relative; }
  #post .container .row .col-md-8 .row .col-md-12 .iframe_post #main_video {
    width: 100%;
    height: 500px;
    display: none;
    border: none; }
  #post .container .row .col-md-8 .row .col-md-12 .iframe_post a {
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background-color: white;
    top: 50%;
    margin-top: -30px;
    left: 50%;
    margin-left: -30px;
    text-decoration: none;
    color: black; }
    #post .container .row .col-md-8 .row .col-md-12 .iframe_post a::after {
      content: "\f04b";
      font-family: "FontAwesome";
      color: black;
      position: absolute;
      left: 27px;
      top: 20px; }
  #post .container .row .col-md-8 .row .col-md-12 .iframe_post #date {
    width: 60px;
    height: 60px;
    position: absolute;
    border-radius: 100%;
    top: 10px;
    left: 10px;
    border: 1px solid white;
    color: white;
    font-weight: 900;
    text-align: center;
    padding-top: 5px; }
#post .container .row .col-md-8 .row .col-md-12 p {
  color: #787878;
  line-height: 3em; }
#post .container .row .col-md-8 .row .col-md-12 .text_list li {
  margin-bottom: 20px;
  color: #787878; }
  #post .container .row .col-md-8 .row .col-md-12 .text_list li::before {
    content: "\f054";
    font-family: "FontAwesome";
    margin-right: 15px;
    color: #e44a7a; }
#post .container .row .col-md-8 .row .col-md-12 h4 {
  font-weight: 900; }
#post .container .row .col-md-8 .row .col-md-6 {
  font-weight: 900;
  color: #787878; }
  #post .container .row .col-md-8 .row .col-md-6 a {
    font-weight: 900;
    color: #e44a7a;
    text-decoration: none; }
    #post .container .row .col-md-8 .row .col-md-6 a:hover {
      color: black; }
  #post .container .row .col-md-8 .row .col-md-6 i {
    color: #e44a7a;
    margin-left: 15px; }
#post .container .row .col-md-8 .row .col-md-12 .client {
  border-top: 1px solid #dddddd;
  padding: 40px 0px; }
  #post .container .row .col-md-8 .row .col-md-12 .client .user_client {
    box-shadow: 0px 2px 10px gray; }
    #post .container .row .col-md-8 .row .col-md-12 .client .user_client h6 {
      margin-top: 10px;
      color: #e44a7a;
      font-weight: 900; }
    #post .container .row .col-md-8 .row .col-md-12 .client .user_client h3 {
      font-weight: 900;
      color: black; }
    #post .container .row .col-md-8 .row .col-md-12 .client .user_client p {
      font-weight: normal;
      line-height: 3em; }
    #post .container .row .col-md-8 .row .col-md-12 .client .user_client ul {
      margin-top: 20px;
      border-left: 1px solid #dddddd;
      height: 80%;
      padding-top: 10px;
      padding-left: 6px; }
      #post .container .row .col-md-8 .row .col-md-12 .client .user_client ul li {
        margin: 10px 0px; }
        #post .container .row .col-md-8 .row .col-md-12 .client .user_client ul li:first-child:hover {
          color: #1111ba; }
        #post .container .row .col-md-8 .row .col-md-12 .client .user_client ul li:nth-child(2):hover {
          color: #ff3e3e; }
        #post .container .row .col-md-8 .row .col-md-12 .client .user_client ul li:nth-child(3):hover {
          color: #386ebd; }
        #post .container .row .col-md-8 .row .col-md-12 .client .user_client ul li:nth-child(4):hover {
          color: #3f84eb; }
        #post .container .row .col-md-8 .row .col-md-12 .client .user_client ul li:last-child:hover {
          color: #f20e56; }
#post .container .row .col-md-8 .row .col-md-12 .comment_area ol li {
  padding: 40px 0px;
  border-top: 1px solid #dddddd; }
  #post .container .row .col-md-8 .row .col-md-12 .comment_area ol li .user_comment {
    width: 100%;
    display: flex; }
    #post .container .row .col-md-8 .row .col-md-12 .comment_area ol li .user_comment .user_image {
      width: 20%; }
    #post .container .row .col-md-8 .row .col-md-12 .comment_area ol li .user_comment .user_com {
      position: relative;
      width: 75%; }
      #post .container .row .col-md-8 .row .col-md-12 .comment_area ol li .user_comment .user_com h3 {
        font-size: 1em;
        font-weight: 900; }
      #post .container .row .col-md-8 .row .col-md-12 .comment_area ol li .user_comment .user_com span {
        position: absolute;
        right: 0px;
        top: 0px;
        font-weight: 900; }
      #post .container .row .col-md-8 .row .col-md-12 .comment_area ol li .user_comment .user_com p {
        line-height: 2em; }
      #post .container .row .col-md-8 .row .col-md-12 .comment_area ol li .user_comment .user_com a {
        text-decoration: none;
        color: #e44a7a;
        font-weight: 900; }
#post .container .row .col-md-8 .row .col-md-12 input {
  display: block;
  outline: none;
  border: none;
  padding: 20px;
  box-shadow: 0px 2px 10px gray;
  margin-bottom: 15px;
  width: 100%; }
#post .container .row .col-md-8 .row .col-md-12 button {
  margin-top: 20px;
  width: 40%;
  height: 70px;
  background-color: transparent;
  border: 2px solid black;
  border-radius: 40px;
  outline: none; }
  #post .container .row .col-md-8 .row .col-md-12 button:hover {
    border-color: #e44a7a; }
#post .container .row .col-md-8 .row .col-md-12 textarea {
  display: block;
  border: none;
  padding: 30px;
  box-shadow: 0px 2px 10px gray;
  margin-bottom: 15px;
  width: 100%;
  outline: none; }
#post .container .row .col-md-4 .widgets .col-md-12 .facebook {
  display: flex;
  background-color: #3b5998;
  transition: all 0.2s linear; }
  #post .container .row .col-md-4 .widgets .col-md-12 .facebook:hover {
    opacity: 0.9; }
#post .container .row .col-md-4 .widgets .col-md-12 .twitter {
  display: flex;
  background-color: #1da1f2;
  transition: all 0.2s linear; }
  #post .container .row .col-md-4 .widgets .col-md-12 .twitter:hover {
    opacity: 0.9; }
#post .container .row .col-md-4 .widgets .col-md-12 .google {
  display: flex;
  background-color: #db4437;
  transition: all 0.2s linear; }
  #post .container .row .col-md-4 .widgets .col-md-12 .google:hover {
    opacity: 0.9; }
#post .container .row .col-md-4 .widgets .col-md-12 .instagram {
  display: flex;
  background-color: #c32aa3;
  transition: all 0.2s linear; }
  #post .container .row .col-md-4 .widgets .col-md-12 .instagram:hover {
    opacity: 0.9; }
#post .container .row .col-md-4 .widgets .col-md-12 .youtube {
  display: flex;
  background-color: #ff0000;
  transition: all 0.2s linear; }
  #post .container .row .col-md-4 .widgets .col-md-12 .youtube:hover {
    opacity: 0.9; }
#post .container .row .col-md-4 .widgets .col-md-12 .logo {
  width: 20%;
  padding: 10px;
  color: white;
  border-right: 3px solid white;
  display: flex;
  justify-content: center;
  align-items: center; }
#post .container .row .col-md-4 .widgets .col-md-12 .logo_name {
  width: 80%;
  padding: 20px;
  color: white;
  font-weight: 900; }
  #post .container .row .col-md-4 .widgets .col-md-12 .logo_name .left {
    float: left; }
  #post .container .row .col-md-4 .widgets .col-md-12 .logo_name .right {
    float: right; }
#post .container .row .col-md-4 .about .col-md-12 .info {
  padding: 30px;
  box-shadow: 0px 2px 10px gray;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  #post .container .row .col-md-4 .about .col-md-12 .info img {
    border-radius: 100%;
    margin-bottom: 10px; }
  #post .container .row .col-md-4 .about .col-md-12 .info h2 {
    font-weight: 900; }
  #post .container .row .col-md-4 .about .col-md-12 .info p {
    width: 80%;
    text-align: center;
    color: #797979; }
  #post .container .row .col-md-4 .about .col-md-12 .info ul {
    display: flex; }
    #post .container .row .col-md-4 .about .col-md-12 .info ul li {
      padding: 0px 10px; }
      #post .container .row .col-md-4 .about .col-md-12 .info ul li:first-child:hover {
        color: #1111ba; }
      #post .container .row .col-md-4 .about .col-md-12 .info ul li:nth-child(2):hover {
        color: #ff3e3e; }
      #post .container .row .col-md-4 .about .col-md-12 .info ul li:nth-child(3):hover {
        color: #386ebd; }
      #post .container .row .col-md-4 .about .col-md-12 .info ul li:nth-child(4):hover {
        color: #3f84eb; }
      #post .container .row .col-md-4 .about .col-md-12 .info ul li:last-child:hover {
        color: #f20e56; }
#post .container .row .col-md-4 .search_row .col-md-12 h2 {
  font-weight: 900; }
#post .container .row .col-md-4 .search_row .col-md-12 form {
  width: 100%;
  padding: 20px;
  box-shadow: 0px 2px 10px gray; }
  #post .container .row .col-md-4 .search_row .col-md-12 form input {
    border: none;
    outline: none;
    padding: 10px;
    margin-right: 70px; }
  #post .container .row .col-md-4 .search_row .col-md-12 form i {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    font-size: 1.3em;
    border-left: 1px solid #dddddd; }
#post .container .row .col-md-4 .categories .col-md-12 h2 {
  font-weight: 900;
  margin-bottom: 20px; }
#post .container .row .col-md-4 .categories .col-md-12 ul li {
  color: #727272;
  border-top: 1px solid #dddddd;
  padding: 20px 0px; }
  #post .container .row .col-md-4 .categories .col-md-12 ul li:last-child {
    border-bottom: 1px solid #dddddd; }
  #post .container .row .col-md-4 .categories .col-md-12 ul li span {
    float: right;
    border-right: 1px solid #e44a7a;
    border-left: 1px solid #e44a7a;
    padding: 0px 5px; }
  #post .container .row .col-md-4 .categories .col-md-12 ul li::before {
    content: "\f054";
    font-family: "FontAwesome";
    margin-right: 15px;
    color: #e44a7a; }
#post .container .row .col-md-4 .post_slider .col-md-12 h2 {
  font-weight: 900; }
#post .container .row .col-md-4 .post_slider .col-md-12 .content {
  box-shadow: 0px 2px 10px gray;
  padding: 20px; }
  #post .container .row .col-md-4 .post_slider .col-md-12 .content img {
    margin-bottom: 10px; }
  #post .container .row .col-md-4 .post_slider .col-md-12 .content h5 {
    color: #e44a7a;
    font-weight: 900; }
  #post .container .row .col-md-4 .post_slider .col-md-12 .content p {
    transition: 0.2s linear all; }
    #post .container .row .col-md-4 .post_slider .col-md-12 .content p:hover {
      color: #e44a7a; }
#post .container .row .col-md-4 .post_slider .owl-carousel .owl-nav button.owl-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -20px;
  background-image: none;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: white;
  color: black;
  display: flex;
  outline: none;
  justify-content: center;
  align-items: center;
  transition: all 0.5s linear;
  box-shadow: 0px 2px 10px gray; }
  #post .container .row .col-md-4 .post_slider .owl-carousel .owl-nav button.owl-prev:hover {
    background-color: #e44a7a;
    color: white; }
#post .container .row .col-md-4 .post_slider .owl-carousel .owl-nav button.owl-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -20px;
  background-image: none;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: white;
  color: black;
  display: flex;
  outline: none;
  justify-content: center;
  align-items: center;
  transition: all 0.5s linear;
  box-shadow: 0px 2px 10px gray; }
  #post .container .row .col-md-4 .post_slider .owl-carousel .owl-nav button.owl-next:hover {
    background-color: #e44a7a;
    color: white; }
#post .container .row .col-md-4 .get_touch .col-md-12 h2 {
  font-weight: 900; }
#post .container .row .col-md-4 .get_touch .col-md-12 .inner {
  padding: 20px;
  width: 100%;
  height: 70px;
  box-shadow: 0px 2px 10px gray;
  background-color: white;
  border: 1px solid white; }
  #post .container .row .col-md-4 .get_touch .col-md-12 .inner input {
    padding-left: 20px;
    outline: none;
    border: none;
    width: 90%; }
#post .container .row .col-md-4 .get_touch .col-md-12 .inner_textarea {
  position: relative;
  width: 100%;
  box-shadow: 0px 2px 10px gray;
  padding-left: 20px;
  padding-top: 20px;
  background-color: white;
  border: 1px solid white; }
  #post .container .row .col-md-4 .get_touch .col-md-12 .inner_textarea i {
    position: absolute;
    top: 28px; }
  #post .container .row .col-md-4 .get_touch .col-md-12 .inner_textarea .form-message {
    position: relative;
    top: 6px;
    left: 30px;
    padding: 10px;
    padding-top: 0px;
    width: 91%;
    border: none;
    outline: none; }
#post .container .row .col-md-4 .get_touch .col-md-12 button {
  width: 50%;
  height: 60px;
  background-color: transparent;
  border: 2px solid black;
  border-radius: 40px;
  outline: none;
  margin-bottom: 10px; }
  #post .container .row .col-md-4 .get_touch .col-md-12 button:hover {
    border-color: #e44a7a; }
#post .container .row .col-md-4 .recent h2 {
  font-weight: 900; }
#post .container .row .col-md-4 .recent .col-md-12 .info_inner {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-between; }
  #post .container .row .col-md-4 .recent .col-md-12 .info_inner .image {
    width: 30%; }
  #post .container .row .col-md-4 .recent .col-md-12 .info_inner .info_text {
    width: 65%; }
    #post .container .row .col-md-4 .recent .col-md-12 .info_inner .info_text h5 {
      color: #e44a7a;
      font-weight: 900; }
#post .container .row .col-md-4 .newsletter .col-md-12 h2 {
  font-weight: 900; }
#post .container .row .col-md-4 .newsletter .col-md-12 form {
  position: relative;
  margin-top: 20px;
  width: 100%;
  height: 80px;
  box-shadow: 0px 2px 10px gray;
  padding: 10px; }
  #post .container .row .col-md-4 .newsletter .col-md-12 form input {
    width: 85%;
    height: 100%;
    border: none;
    outline: none; }
  #post .container .row .col-md-4 .newsletter .col-md-12 form i {
    position: absolute;
    width: 10%;
    border-left: 1px solid gray;
    padding: 15px;
    text-align: center;
    font-size: 1.5em;
    top: 12px;
    color: #4b4b4b; }
    #post .container .row .col-md-4 .newsletter .col-md-12 form i:hover {
      color: #e44a7a; }
#post .container .row .col-md-4 .tags .col-md-8 h2 {
  font-weight: 900;
  margin-bottom: 20px; }
#post .container .row .col-md-4 .tags .col-md-8 .tag {
  float: left;
  padding: 8px;
  background-color: #dddddd;
  margin-right: 10px;
  margin-bottom: 10px;
  font-weight: 900;
  transition: all 0.2s linear; }
  #post .container .row .col-md-4 .tags .col-md-8 .tag:hover {
    background-color: #e44a7a;
    color: white; }

@media (max-width: 1024px) {
  #post .container .row .col-md-8 .row .col-md-12 .iframe_post #main_video {
    width: 100%;
    height: 300px;
    display: none; }
  #post .container .row .col-md-8 .row .col-md-12 .client .user_client ul {
    border-top: 1px solid #dddddd;
    display: flex; }
    #post .container .row .col-md-8 .row .col-md-12 .client .user_client ul li {
      margin: 0px 10px; }
  #post .container .row .col-md-8 .row .col-md-12 .comment_area ol li .user_comment {
    justify-content: space-between; }
    #post .container .row .col-md-8 .row .col-md-12 .comment_area ol li .user_comment .user_image {
      width: 20%; }
    #post .container .row .col-md-8 .row .col-md-12 .comment_area ol li .user_comment .user_com {
      width: 70%; }
      #post .container .row .col-md-8 .row .col-md-12 .comment_area ol li .user_comment .user_com h3 {
        font-size: 1em;
        font-weight: 900; }
      #post .container .row .col-md-8 .row .col-md-12 .comment_area ol li .user_comment .user_com span {
        font-size: 0.6em; }
  #post .container .row .col-md-8 .row .col-md-12 button {
    width: 100%; }
  #post .container .row .col-md-4 .get_touch .col-md-12 button {
    width: 100%; } }
.checked {
  color: #e44a7a;
  font-size: 0.9em; }

#models .inner {
  position: relative; }
  #models .inner img {
    height: 300px;
    width: 100%; }
  #models .inner .owl-carousel .owl-nav button.owl-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -20px;
    background-image: none;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background-color: white;
    color: black;
    display: flex;
    outline: none;
    justify-content: center;
    align-items: center;
    transition: all 0.5s linear;
    box-shadow: 0px 2px 10px gray; }
    #models .inner .owl-carousel .owl-nav button.owl-prev:hover {
      background-color: #e44a7a;
      color: white; }
  #models .inner .owl-carousel .owl-nav button.owl-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -20px;
    background-image: none;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background-color: white;
    color: black;
    display: flex;
    outline: none;
    justify-content: center;
    align-items: center;
    transition: all 0.5s linear;
    box-shadow: 0px 2px 10px gray; }
    #models .inner .owl-carousel .owl-nav button.owl-next:hover {
      background-color: #e44a7a;
      color: white; }

@media (max-width: 1024px) {
  #models .inner img {
    height: 200px; }
  #models .inner .owl-carousel .owl-nav button.owl-prev {
    width: 40px;
    height: 40px;
    line-height: 40px; }
  #models .inner .owl-carousel .owl-nav button.owl-next {
    width: 40px;
    height: 40px;
    line-height: 40px; } }
footer .text h3 {
  font-size: 2.5em;
  font-weight: bolder;
  padding-bottom: 15px; }
footer .text img {
  padding-bottom: 10px; }
footer .text .first {
  color: gray;
  font-size: 1.1em; }
  footer .text .first li {
    padding: 10px 0px; }
    footer .text .first li i {
      padding-right: 10px; }
footer .text .second {
  color: gray;
  font-size: 1.1em; }
  footer .text .second li {
    padding: 10px 0px; }
    footer .text .second li span {
      padding-right: 30px; }
    footer .text .second li .left {
      padding-right: 40px; }
footer .text .third {
  color: gray;
  font-size: 1.1em; }
  footer .text .third li {
    padding: 10px 0px; }
    footer .text .third li i {
      padding-right: 10px; }

#copyright {
  height: 100px;
  background-image: url(http://webdesign-finder.com/html/qtyler/img/parallax/abstraction.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }
  #copyright .text h6 {
    color: white;
    letter-spacing: 5px; }

@media (max-width: 1024px) {
  #copyright {
    height: 200px; }
    #copyright h6 {
      font-size: 0.8em; } }
#modal {
  display: none;
  z-index: 999999;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.879); }
  #modal #modal_slider {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    width: 46%; }
    #modal #modal_slider .modal_exit {
      z-index: 33;
      width: 30px;
      height: 30px;
      position: absolute;
      right: -30px;
      top: -30px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.5em;
      color: white; }

/*# sourceMappingURL=videopost.css.map */
